#scrolling-container {
  height: calc(100% - 45px);
  min-height: calc(100% - 45px);
  overflow-y: auto;
  position: relative;
}

.ql-snow.ql-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  height: 50px;
  border: 0;
  display: flex;
  overflow: auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.ql-snow .ql-formats {
    display: flex;
}

.ql-snow.ql-toolbar button.ql-post-theme {
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.ql-snow.ql-toolbar button.ql-post-theme:hover {
    opacity: 0.8;
}

.ql-editor ul[data-checked="true"] li {
  text-decoration: line-through;
}

#scrolling-container[data-theme="1"],
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="1"] {
    background-color: #efefef;
}

#scrolling-container[data-theme="2"],
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="2"] {
    background-color: #000;
    color: #fff;
}

#scrolling-container[data-theme="3"],
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="3"] {
    background-color: #ffe4f0;
}

#scrolling-container[data-theme="4"],
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="4"] {
    background-color: #beffe2;
}

#scrolling-container[data-theme="5"],
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="5"] {
    background-color: #fff2ac;
}
