<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="{{url_for('static', filename='base.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='list.css')}}" rel="stylesheet">
</head>
<body>
    <ol class="posts">
        <li>
            <a class="post" href="/post/new">
                Create a new post
            </a>
        </li>
        {% for post_id, post in posts.items() %}
        <li>
            <div
                class="post"
                href="/post/{{post_id}}"
                role="link"
                data-theme="{{post['theme']}}">
                {{post['contents']|html_excerpt(230)|safe}}
            </div>
        </li>
        {% endfor %}
    </ol>

    <script
        src="{{url_for('static', filename='list.js')}}" type="text/javascript"></script>
</body>
</html>
