<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <style></style>
    <link href="{{url_for('static', filename='base.css')}}" rel="stylesheet">
</head>
<body>
  <ol class="posts">
    {% for post_id, post in posts.items() %}
    <li class="post">
      {{post['contents']|safe}}
    </li>
    {% endfor %}
  </ol>
  <script type="text/javascript">
    const posts = {{posts | tojson}};
  </script>
  <script src="{{url_for('static', filename='base.js')}}" type="text/javascript" />
</body>
</html>
