<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='quill.blizzard.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
</head>
<body>
    <div class="ql-container ql-snow ql-container--full" data-theme="{{post['theme']}}">
        <div id="post" class="ql-editor">
            {{post['contents']|safe}}
        </div>
    </div>
</body>
</html>

    <!-- <a href="/{{post_id}}/edit">edit</a> -->
