html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.posts {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2%;
    margin: 0;
    padding: 4%;
    height: 100%;
}

.ql-container--card {
    height: 360px;
    overflow: hidden;
    cursor: pointer;
}

.ql-container--card .ql-editor > * {
    cursor: pointer;
}

.ql-container--card:hover {
    opacity: 0.7;
    cursor: pointer;
}

.ql-container--with-toolbar {
    height: calc(100% - 50px);
    min-height: calc(100% - 50px);
}

.ql-container--full {
    height: 100%;
    min-height: 100%;
}

*[data-theme="1"] {
    background-color: #efefef;
}

*[data-theme="2"] {
    background-color: #000;
    color: #fff;
}

*[data-theme="3"] {
    background-color: #ffe4f0;
}

*[data-theme="4"] {
    background-color: #beffe2;
}

*[data-theme="5"] {
    background-color: #fff2ac;
}
