html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
   height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font: normal 16px/1.4 'PT Sans', sans-serif;
    background-color: #464063;
    /*background-color: #d6ffea;*/
}

header {
    height: 50px;
}

.posts {
    display: none;
    margin: 50px;
}

.ql-container--card {
    height: auto;
    cursor: pointer;
    font-size: 13px;
    padding: 2%;
    box-shadow: 0 30px 0px -20px rgba(0,0,0,0.2);
    transition: transform 400ms;
}

.ql-container--card .ql-editor > * {
    cursor: pointer;
}

.ql-container--card:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 10;
}

.ql-container--with-toolbar {
    height: calc(100% - 50px - 50px);
    min-height: calc(100% - 50px - 50px);
}

.ql-container--full {
    min-height: 100%;
    height: auto;
}

*[data-status="0"] {
    display: none;
}

/* White/Default */
*[data-theme="None"],
*[data-theme="None"] .ql-editor:after,
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="None"] ,
*[data-theme="true"],
*[data-theme="true"] .ql-editor:after,
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="true"] {
    background-color: #fff;
    color: #555;
}

*[data-theme="None"],
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="None"] {
    border: 1px solid #ddd;
}

/* Gray */
*[data-theme="1"],
*[data-theme="1"] .ql-editor:after,
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="1"] {
    background-color: #efefef;
    color: #333;
}

/* Black */
*[data-theme="2"],
*[data-theme="2"] .ql-editor:after,
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="2"] {
    background-color: #000;
    color: #ddd;
}

/* Pink */
*[data-theme="3"],
*[data-theme="3"] .ql-editor:after,
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="3"] {
    background-color: #ffe4f0;
    color: #84003a;
}

/* Teal */
*[data-theme="4"],
*[data-theme="4"] .ql-editor:after,
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="4"] {
    background-color: #beffe2;
    color: #00381f;
}

/* Yello w*/
*[data-theme="5"],
*[data-theme="5"] .ql-editor:after,
.ql-snow.ql-toolbar button.ql-post-theme[data-theme="5"] {
    background-color: #fff2ac;
    color: #8e2a00;
}
