/*******************************************************************************
 * COLORS
 *******************************************************************************
 * Darkest Blue - #1C2233, rgb(28, 34, 51)
 * Blue - #4A84FF
 * Green - #1EFF7A, rgb(30, 255, 122)
 * Yellow - #FFB233, rgb(255, 187, 51)
 * Pink -  #FFDADA, rgb(255, 218, 218)
 * Pastel-ish Blue - #98DBFF, rgb(152, 219, 255)
 * Purple - #CBA5FF
 *
 *
 * White - #FFFFFF
 * Light Gray - #E5E6E7
 * Dark Gray - #BBBDC2, rgb(187, 189, 194)
 *
 ******************************************************************************/

 .ql-editor {
    font: normal normal 1.6em 'PT Sans', sans-serif;
 }

 .ql-editor a {
    text-decoration: underline;
    color: black;
 }

 /*.ql-editor a {
    display: inline-block;
    position: relative;
    font-size: 1em;
    line-height: 1em;
    color: #1C2233;
    text-decoration: none;
    text-shadow:
      0.05em  0.05em     #fff,
     -0.05em  0.05em     #fff,
      0.05em -0.05em     #fff,
     -0.05em -0.05em     #fff;

    -webkit-transition: text-shadow 150ms;
    -o-transition: text-shadow 150ms;
    transition: text-shadow 150ms;
}
     .ql-editor a:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        height: 2px;
        width: 100%;
        bottom: -.1em;
        background-color: #1C2233;
        -webkit-transition: height 150ms, background-color 150ms;
        -o-transition: height 150ms, background-color 150ms;
        transition: height 150ms, background-color 150ms;
    }
     .ql-editor a:hover,
     .ql-editor a:visited:hover {
        text-shadow: none;
    }
     .ql-editor a:hover:after,
     .ql-editor a:visited:hover:after {
        height: 100%;
        background-color: #1EFF7A;
        background-color: #FFDADA;
        background-color: #FFF433;
    }*/

.ql-editor .section2,
.ql-editor .section3 {
    margin: 4.0rem 0;
}
.ql-editor .section2:first-child,
.ql-editor .section3:first-child {
    margin-top: 0;
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
    margin: 0.5em 0;
    padding: 0;
    line-height: 1.1em;
    font-weight: 400;
}
.ql-editor h1,
.ql-editor h2 {
    font-size: 1.8em;
 }
.ql-editor h6 {
    font-weight: 700;
}
.ql-editor h3 { font-size: 1.4em; }
.ql-editor h4 { font-size: 1.2em; }
.ql-editor h5 { font-size: 1.0em; }
.ql-editor h6 { font-size: 0.8em; }

.ql-editor p {
    margin: 0.5rem 0 1.5rem 0;
    line-height: 1.8em;
}

.ql-editor blockquote {
    color: #1C2233;
    margin: 0;
    padding-left: 1em;
    border-left: 4px #FFB233 solid;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: 300;
}

.ql-editor table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ql-editor thead {
    border-bottom: 4px solid #E5E6E7;
}
.ql-editor thead th {
    vertical-align: middle;
    text-align: left;
    padding: 0.5em;
}
.ql-editor thead th[align=right] {
    text-align: right;
}
.ql-editor tbody tr {
    border-bottom: 1px solid #E5E6E7;
}
.ql-editor td {
    vertical-align: top;
    padding: 0.5em;
    border-right: 1px solid #E5E6E7;
}
.ql-editor td:first-child {
    border-left: 1px solid #E5E6E7;
}


.ql-editor hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #E5E6E7;
    margin: 3.5rem auto;
    padding: 0;
    width: 100%;
}

.ql-editor samp {
    color: #1C2233;
}
.ql-editor .highlight,
.ql-editor pre {
    font-family: 'Anonymous Pro', monospace;
    font-size: 0.9em;
    padding: 0.1em 0.5em;
    overflow: auto;
}
.ql-editor .keys {
    color: #1C2233;
    font-size: 0.9em;
    font-family: 'Anonymous Pro', monospace;
}
.ql-editor .keys span {
    padding: 0 .4em;
}
.ql-editor kbd {
    padding: .5em;
    border: 1px solid #E5E6E7;
    border-radius: 0.3rem;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 0px 1px #E5E6E7;
    word-break: break-word;
}

.ql-editor b,
.ql-editor strong {
    font-weight: bold;
}

.ql-editor dfn { font-style: italic; }

.ql-editor ins {
    background: #1EFF7A;
    color: #1C2233;
    text-decoration: none;
    font-weight: bold;
    padding: 0.25em 0.5em;
}

.ql-editor mark {
    background: #fff433;
    color: #1C2233;
    font-weight: bold;
    padding: 0.25em 0.5em;
}

.ql-editor sub,
.ql-editor sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.ql-editor sup { top: -0.5em; }
.ql-editor sub { bottom: -0.25em; }

.ql-editor ul,
.ql-editor ol {
    margin: 1em 0; padding: 0 0 0 2em;
}
.ql-editor li {
    margin: 1em 0;
}
.ql-editor li p:last-child {
    margin:0
}
.ql-editor dd { margin: 0 0 0 2em; }

.ql-editor img.emojione {
    margin: 0;
    display: inline;
}
.ql-editor img.img--inline {
    display: inline-block;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
.ql-editor img.img--block {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
.ql-editor img.img--50percent {
    width: 49%;
    margin: 0 0.5%;
}
.ql-editor img.img--book {
    height: 400px;
}
