<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="{{url_for('static', filename='base.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='post/view/index.css')}}" rel="stylesheet">
</head>
<body>
    <a href="/post/{{post_id}}/edit">edit</a>
    <a href="/post/{{post_id}}/versions">versions</a>
    <div id="post" data-theme="{{post['theme']}}">
        {{post['contents']|safe}}
    </div>
</body>
</html>
